@inject IJSRuntime JS
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<link rel="stylesheet" href="/css/footer.css" />

<footer class="footer mt-4">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <img src="/TandanLogo1.png" alt="Logo" style="height: 180px;">
            </div>
            <div class="footer-col">
                <h4>Tandan Family</h4>
                <ul>
                    <li><a href="/History">History</a></li>
                    <li><a href="/Timeline">Timeline</a></li>
                    <li><a href="/members-dictionary">Family Dictionary</a></li>
                    <li><a href="/Getgallery">Galleries</a></li>
                    <li><a href="/Blog">Blogs</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <button class="back-to-top" @onclick="ScrollToTop">
        <span class="material-symbols-outlined p-2">
            arrow_upward
        </span>
    </button>
</footer>


