@using Blazored.Toast
@using Blazored.Toast.Services
@using FamilyTree_UI.Pages.FamilySetups
@using FamilyTree_UI.Shared.Component
@using Microsoft.Extensions.Localization
@using Microsoft.VisualBasic
@inject IJSRuntime JSRuntime
@inherits LayoutComponentBase
<PageTitle>Family Tree - Tandan</PageTitle>

<div>
    <NavMenu></NavMenu>
</div>
<div class="app-body">
    <DialogBox />
    <div class="custom-toast-wrapper">
        <BlazoredToasts />
    </div>

    @Body
</div>
<Loader @ref="loader" />
<Footer />
