@*
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand" href="">
            <img src="/logo.png" alt="Logo" style="height: 50px; width: auto;" class="d-inline-block align-text-top me-2">
            Family Tree
        </a>
        <button title="Navigation menu" class="navbar-toggler ms-auto" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>



<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/familytree" >
                <span class="oi oi-fork" aria-hidden="true"></span> Family Tree
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/members-dictionary">
                <span class="oi oi-people" aria-hidden="true"></span> Members Dictionary
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Timeline">
                <span class="oi oi-timer" aria-hidden="true"></span> Time Line
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Getgallery">
                <span class="oi oi-image" aria-hidden="true"></span> Galleries
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="History">
                <span class="oi oi-clock" aria-hidden="true"></span> History
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Blog">
                <span class="oi oi-book" aria-hidden="true"></span> Blogs
            </NavLink>
        </div>
        @if (RoleId == 1)
        {

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="familysetup">
                    <span class="oi oi-plus" aria-hidden="true"></span> Family Setup
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="familylist">
                    <span class="oi oi-list" aria-hidden="true"></span> Family List
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Gallery">
                    <span class="oi oi-image" aria-hidden="true"></span> Gallery Setup
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Blogsetup">
                    <span class="oi oi-video" aria-hidden="true"></span> Blogs Setup
                </NavLink>
            </div>

            <div class="nav-item px-3 ">
                <NavLink class="nav-link" href="admin">
                    <span class="oi oi-dashboard" aria-hidden="true"></span> Admin DashBoard
                </NavLink>
            </div>
            <div class="nav-item px-3 mt-5">
                <NavLink class="nav-link" @onclick="Logout" style="cursor:pointer">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3 mt-5">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }
    </nav>
</div>


 *@


@* <link rel="stylesheet" href="/css/home.css">

<nav class="custom-navbar">
    <div class="nav-container">
        <a class="nav-brand" href="/">
            <img src="/logo.png" alt="Logo" style="height: 70px;">
        </a>

        <button class="nav-toggle" @onclick="ToggleNavMenu">
            <span class="hamburger-icon">&#9776;</span>
        </button>

        <div class="nav-menu @NavMenuCssClass d-flex align-items-center justify-content-between">
            <ul class="nav-links d-flex align-items-center mb-0">
                <li><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
                <li><NavLink href="familytree">Family Tree</NavLink></li>
                <li><NavLink href="Timeline">TimeLine</NavLink></li>
                <li><NavLink href="members-dictionary">Family Dictionary</NavLink></li>
                <li><NavLink href="History">History</NavLink></li>
                <li><NavLink href="Getgallery">Galleries</NavLink></li>
                <li><NavLink href="Blog">Blogs</NavLink></li>
                @if (RoleId == 1)
                {
                    <li><NavLink href="admin">Dashboard</NavLink></li>
                }
                @if (!IsLoggedIn)
                {
                    <li>
                        <NavLink href="login" class="d-inline-flex align-items-center text-white">
                            <span class="me-1">Login</span>
                            <span class="material-symbols-outlined">login</span>
                        </NavLink>
                    </li>
                }
                else
                {
                    <li>
                        <NavLink @onclick="Logout" class="d-inline-flex align-items-center text-white">
                            <span class="me-1">Logout</span>
                            <span class="material-symbols-outlined">Logout</span>
                        </NavLink>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav> *@

<link rel="stylesheet" href="/css/home.css">

<nav class="custom-navbar">
    <div class="nav-container d-flex align-items-center justify-content-between w-100">

        <!-- Logo -->
        <a class="nav-brand" href="/">
            <img src="/logo.png" alt="Logo" style="height: 70px;">
        </a>

        <!-- Toggle for mobile -->
        <button class="nav-toggle" @onclick="ToggleNavMenu">
            <span class="hamburger-icon">&#9776;</span>
        </button>

        <!-- Main nav content and google translate -->
        <div class="d-flex align-items-center justify-content-between flex-grow-1">

            <!-- Navigation Menu -->
            <div class="nav-menu @NavMenuCssClass">
                <ul class="nav-links d-flex align-items-center mb-0 flex-wrap">
                    <li><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
                    <li><NavLink href="familytree">Family Tree</NavLink></li>
                    <li><NavLink href="Timeline">TimeLine</NavLink></li>
                    <li><NavLink href="members-dictionary">Family Dictionary</NavLink></li>
                    <li><NavLink href="History">History</NavLink></li>
                    <li><NavLink href="Getgallery">Galleries</NavLink></li>
                    <li><NavLink href="Blog">Blogs</NavLink></li>
                    @if (RoleId == 1)
                    {
                        <li><NavLink href="admin">Dashboard</NavLink></li>
                    }
                    @if (!IsLoggedIn)
                    {
                        <li>
                            <NavLink href="login" class="d-inline-flex align-items-center text-white">
                                <span class="me-1">Login</span>
                                <span class="material-symbols-outlined">login</span>
                            </NavLink>
                        </li>
                    }
                    else
                    {
                        <li>
                            <NavLink @onclick="Logout" class="d-inline-flex align-items-center text-white" style="cursor:pointer">
                                <span class="me-1">Logout</span>
                                <span class="material-symbols-outlined">Logout</span>
                            </NavLink>
                        </li>
                    }
                </ul>
@*                     <div id="google_translate_element" class="ms-4"></div>
 *@            </div>

        </div>
    </div>
</nav>

