
<link href="css/Loader.css" rel="stylesheet" />

@if (isVisible)
{
    <div class="loader-overlay">
        <div class="loader-container">
            <div class="loader"></div>
        </div>
    </div>

}