/*Nav Bar */

.custom-navbar {
    background-color: #007bff;
    color: white;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.nav-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

.hamburger-icon {
    font-size: 1.5rem;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links a {
    color: white !important;
    text-decoration: none;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.nav-menu li a {
    text-decoration: none;
    color: #ddd;
    font-weight: 500;
    padding: 0.5rem;
    transition: color 0.3s;
}

    .nav-menu li a:hover,
    .nav-menu li a.active {
        color: var(--color-primary);
    }
